<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - HEROQuizz</title>
    <link rel="stylesheet" href="./../css/about.css" />
</head>

<body>
    <header>
        <div class="logo">HERO<span class="highlight">Quizz</span></div>
        <nav>
            <a href="./../index.html" id="about-home"></a>
            <a href="./../index.html" id="about-quizzes"></a>
            <a href="https://edu.info.uaic.ro/web-technologies/web-film.html">Contact</a>
        </nav>
    </header>
    <section class="about-header">
        <h1 id="about-title"></h1>
        <p id="about-description"></p>
    </section>

    <section class="container">
        <div class="card">
            <img src="./../images/denis.jpg" alt="Member 1" />
            <h2>Denis Crîșmariu</h2>
            <div class="links">
                <a href="https://github.com/crismariudenis" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/crismariu-denis-347778223/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="./../images/georgiana.jpg" alt="Member 2" />
            <h2>Georgiana Matcovici</h2>
            <div class="links">
                <a href="https://github.com/georgianamatcovici" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/georgiana-matcovici-b9450b295/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </section>

    <section class="about-footer">
        <p id="about-footer"></p>
    </section>

    <script src="./../about.js"></script>
</body>

</html>