<div class="hero">
  <div class="hero-content">
    <img src="./assets/lading_page.png" alt="Superhero" />
    <div class="text-content">
      <h1>
        Welcome to the
        <span style="color: var(--red-color)">Ultimate</span> Superhero Quiz Hub!
      </h1>
      <p>
        Dive into the world of HEROQuizz, where you can test your knowledge of
        all things superhero! Explore quizzes and prove you’re the ultimate fan.
      </p>
      <a href="quizzes.html" class="button">Start now</a>
    </div>
  </div>
</div>

