<div class="login">
  <div class="login_content">
    <div class="login_title">
      <p class="welcome">Welcome, hero!</p>
    </div>

    <div class="login_fields">
      <input
        id="login_username"
        class="login_input"
        type="text"
        name="username"
        placeholder="Username"
      /><br /><br />
      <input
        id="login_password"
        class="login_input"
        type="password"
        name="password"
        placeholder="Password"
      /><br /><br />
    </div>
    <div class="login_actions">
      <button type="button" id="login_btn" class="login_btn">Log In</button>
      <button type="button" id="sign_in_btn" class="login_btn">Sign In</button>
    </div>
  </div>
</div>
