<nav>
  <ul>
    <div class="logo">HEROQuizz</div>
    <div class="hamburger-menu" onclick="toggleMenu()">☰</div>
    <div class="nav-links">
      <li><a href="index.html" id="navbar-quizzes"></a></li>
      <li>
        <a href="./components/doc.html">Info</a>
      </li>
      <li><a href="./components/about.html" id="navbar-about"></a></li>
      <div class="button" id="nav_login_btn">Join now</div>
      <img src="./images/usa_flag.jpg" alt="USA Flag" class="flag" id="flag" onclick="changeFlag()" />
    </div>
    <span id="user-name" class="user-name"></span>
  </ul>
</nav>
<script>
  function toggleMenu() {
    const navLinks = document.querySelector(".nav-links");
    if (navLinks) {
      navLinks.classList.toggle("active");
    }
  }
</script>