<nav>
  <ul>
    <div class="logo">HEROQuizz</div>
    <div class="hamburger-menu" onclick="toggleMenu()">☰</div>
    <div class="nav-links">
      <li><a href="index.html" id="navbar-quizzes"></a></li>
      <li><a href="index.html">Contact</a></li>
      <li><a href="index.html" id="navbar-about"></a></li>
      <div class="button" onclick="openLogin()" id="navbar-join"></div>
      <img src="./images/usa_flag.jpg" alt="USA Flag" class="flag" id="flag" onclick="changeFlag()">
    </div>
  </ul>
</nav>
<script>
  function toggleMenu() {
    const navLinks = document.querySelector(".nav-links");
    if (navLinks) {
      navLinks.classList.toggle("active");
    }
  }
</script>