<div class="popup">
  <div class="pop_up_content">
    <div class="pop_up_main">
      <div class="pop_up_text">
        <div class="pop_up_descr">
          <p class="description">Description <br /></p>
          <p class="description_body">
            Test your knowledge of the Marvel universe in this thrilling quiz
            where you’ll face off in head-to-head battles between heroes,
            villains, and iconic moments! Answer quickly, earn points, and climb
            the global leaderboard to prove you’re the ultimate Marvel fan.
            <br />
          </p>
        </div>
        <div class="pop_up_rank">
          <p class="ranking">
            <br />
            Ranking <br />
          </p>
          <p class="ranking_body">
            1.SuperFan99-1200 points <br />
            2.HeroMaster-1100 points <br />
            3.ComicNerd-950 points <br />
            4.KryptoKid-850 points <br />
            5.FlashFreak-800 points
          </p>
        </div>
        <div class="pop_up_tags">
          <p class="tags">Tags <br /></p>
        </div>
      </div>
      <div class="pop_up_img">
        <img src="images/image.png" />
      </div>
    </div>
    <div class="pop_up_footer">
      <button class="button_play_quiz">Play Quiz</button>
      <button class="button_close">Close</button>
    </div>
  </div>
</div>