<section class="card-section">
  <h2 id="quizzes-featured"></h2>
  <div class="cards-grid">
    <div class="card" onclick="openPopUp(1)">
      <img src="./images/MarvelVsDC.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title" id="quizzes-title1"></h3>
        <p class="card-description" id="quizzes-description1">
        </p>
      </div>
    </div>
    <div class="card" onclick="openPopUp(2)">
      <img src="./images/black_widow1.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title" id="quizzes-title2"></h3>
        <p class="card-description" id="quizzes-description2">
        </p>
      </div>
    </div>
    <div class="card" onclick="openPopUp(3)">
      <img src="./images/time.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title" id="quizzes-title3"></h3>
        <p class="card-description" id="quizzes-description3">
        </p>
      </div>
    </div>
  </div>

  <h2 id="quizzes-latest"></h2>
  <div class="cards-grid">
    <!-- three cards -->
    <div class="card" onclick="openPopUp(4)">
      <img src="./images/batman2.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title" id="quizzes-title4"></h3>
        <p class="card-description" id="quizzes-description4">
        </p>
      </div>
    </div>
    <div class="card" onclick="openPopUp(5)">
      <img src="./images/captain_marvel2.jpg" alt="Card Image" class="card-image"
        style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title" id="quizzes-title5"></h3>
        <p class="card-description" id="quizzes-description5">
        </p>
      </div>
    </div>
    <div class="card" onclick="openPopUp(6)">
      <img src="./images/dr_doom.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title" id="quizzes-title6"></h3>
        <p class="card-description" id="quizzes-description6">
        </p>
      </div>
    </div>
  </div>
</section>