<section class="card-section">
  <h2 id="quizzes-featured"></h2>
  <div class="cards-grid">
    <div class="card" onclick="openPopUp(1)">
      <img src="./images/MarvelVsDc.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title" id="quizzes-title1"></h3>
        <p class="card-description" id="quizzes-description1">
        </p>
      </div>
    </div>
    <div class="card" onclick="openPopUp(2)">
      <img src="./images/black_widow1.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title" id="quizzes-title2"></h3>
        <p class="card-description" id="quizzes-description2">
        </p>
      </div>
    </div>
    <div class="card" onclick="openPopUp(3)">
      <img src="./images/time.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title">Guess the Year!</h3>
        <p class="card-description">
          Test your knowledge of superhero history by guessing the year a hero first appeared. From classic legends to
          modern
          icons — how well do you know the timeline of your favorite heroes?
        </p>
      </div>
    </div>
  </div>

  <h2>Latest Quizzes</h2>
  <div class="cards-grid">
    <!-- three cards -->
    <div class="card" onclick="openPopUp(4)">
      <img src="./images/batman2.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title">Inside the DC Multiverse</h3>
        <p class="card-description">
          Dive deep into the world of DC superheroes and villains! Answer questions that explore their unique traits.
          Prove you know the DC universe like a true fan!
        </p>
      </div>
    </div>
    <div class="card" onclick="openPopUp(5)">
      <img src="./images/captain_marvel2.jpg" alt="Card Image" class="card-image"
        style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title">The Marvel Challenge</h3>
        <p class="card-description">
          Step into the Marvel universe and test your knowledge of its iconic heroes and villains. From street-level
          fighters to
          cosmic legends, discover how well you know their secrets.
        </p>
      </div>
    </div>
    <div class="card" onclick="openPopUp(6)">
      <img src="./images/dr_doom.jpg" alt="Card Image" class="card-image" style="max-width: 100%; height: 180px" />
      <div class="card-content">
        <h3 class="card-title">Ultimate Superhero Showdown</h3>
        <p class="card-description">
          Expect the unexpected! Are you ready to face the ultimate test of your superhero
          knowledge?
        </p>
      </div>
    </div>
  </div>
</section>